<!doctype html>
<html>
  <head>
    <title>Send emails with Send Already!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">Send Already!</a></h1>
        <p class="lead">Send emails from our e-mail address</p>
      </header>
      {% if success %}
      <div class="alert alert-success">{{ success }}</div>
      {% endif %}
      {% if error %}
      <div class="alert alert-error">{{ error }}</div>
      {% endif %}
      <form action="/send" method="post" class="form-horizontal">
        <div class="control-group">
          <label class="control-label">From</label>
          <div class="controls">
            {% if user %}
              <span class="input uneditable-input span4">
                <a href="{{ logout_url }}" class="pull-right"><i class="icon-remove"></i></a>
                {{ user.email() }}
              </span>
            {% else %}
              <a href="{{ login_url }}" class="btn btn-primary">Log in with Google</a>
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="to">To</label>
          <div class="controls">
            <input type="email" id="to" name="to" class="span4" required
              {% if not user %}disabled{% endif %}>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="subject">Subject</label>
          <div class="controls">
            <input type="text" id="subject" name="subject" class="span4"
              required {% if not user %}disabled{% endif %}>
          </div>
        </div>
        <textarea rows="10" class="span6" name="body" required
          {% if not user %}disabled{% endif %}></textarea>
        <div class="form-actions">
          <button type="submit"
            class="btn {% if user %}btn-primary{% endif %} pull-right"
            {% if not user %}disabled{% endif %}>Send</button>
        </div>
      </form>
    </div>
  </body>
</html>
